<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="atari-pong" src="{{ "/assets/img/Pong_atari.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Deep Reinforcement Learning </h3>
    <ul>
      <li> Description </li>
    </ul>
    <p>Implementation of Deep Reinforcement Learning Algorithms to play games on Atari Environment. It features:
      <ul>
        <li>Deep Q-Learning</li>
        <li>Double Deep Q-Learning</li>
        <li>Dueling Deep Q-Learning</li>
        <li>Dueling Double Deep Q-Learning</li>
      </ul>
    </p>
    <a class="project-link" href="https://github.com/iamunr4v31/DeepRL">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Frozen-Lake" src="{{ "/assets/img/Frozen-Lake.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Frozen Lake using Reinforcement Learning </h3>
    <ul>
      <li> Description </li>
    </ul>
    <p>Various approaches to playing Frozen Lake game from OpenAI gym.
      Explores random agent, agent with optimal policy in deterministic environment 
      and q-learning agent in stochastic environment.</p>
    <a class="project-link" href="https://github.com/iamunr4v31/FrozenLake">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="news-cluster" src="{{ "/assets/img/news-cluster.svg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Clustering News articles using Machine Learning Algorithms </h3>
    <ul>
      <li> Description </li>
    </ul>
    <p>Clustering news headlines on various algorithms using sci-kit learn package.
      Repository shows the various clusters found in the process and their visualization on graph.</p>
    <a class="project-link" href="https://github.com/iamunr4v31/NewsCluster">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="git-github" src="{{ "/assets/img/git-github.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Streamlining git operations on a repository </h3>
    <ul>
      <li> Description </li>
    </ul>
    <p>Initializing and creating a repository both on local machine and remote seemed tedious.
      Hence the program to streamline the process. Use git-create to create the repository simultaneously on local machine and remote.
    </p>
    <a class="project-link" href="https://github.com/iamunr4v31/git-create">Check it out</a>
  </div>
</div>
